# Node / Angular
/frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.env

# Java / Maven
/backend/target/
backend/.mvn/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/
backend/.env
backend/.vscode/

# Sistema
.DS_Store
Thumbs.db
*.log
*.iml
.env
